In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
from pathlib import Path
import logging

import pandas as pd
from sqlalchemy import create_engine

from nyc_taxi.config import NYCTaxiConfig
from nyc_taxi.data_pipeline import DataPipeline
from nyc_taxi.utils import timing

PARENT_PATH = Path(os.getcwd()).parent.absolute()

FORMAT = "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
logging.basicConfig(format=FORMAT, level=logging.INFO)
logger = logging.getLogger(__name__)

Build config and data class for accessing data

In [3]:
config = NYCTaxiConfig()
config.CURRENT_PATH = PARENT_PATH

data = DataPipeline(config)

Load sample parquet file

In [4]:
df = pd.read_parquet(os.path.join(data.data_path, "green_tripdata_2021-01.parquet"))
df.head()

   VendorID lpep_pickup_datetime  ... trip_type congestion_surcharge
0         2  2021-01-01 00:15:56  ...       1.0                 0.00
1         2  2021-01-01 00:25:59  ...       1.0                 2.75
2         2  2021-01-01 00:45:57  ...       1.0                 0.00
3         2  2020-12-31 23:57:51  ...       1.0                 0.00
4         2  2021-01-01 00:16:36  ...       1.0                 0.00

[5 rows x 20 columns]

In [5]:
num_rows, num_columns = df.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 76518
Number of columns: 20

Lower column names

In [6]:
df.columns = [c.lower() for c in df.columns]
df.head()

   vendorid lpep_pickup_datetime  ... trip_type congestion_surcharge
0         2  2021-01-01 00:15:56  ...       1.0                 0.00
1         2  2021-01-01 00:25:59  ...       1.0                 2.75
2         2  2021-01-01 00:45:57  ...       1.0                 0.00
3         2  2020-12-31 23:57:51  ...       1.0                 0.00
4         2  2021-01-01 00:16:36  ...       1.0                 0.00

[5 rows x 20 columns]

Connect to postgres database

In [7]:
engine = create_engine("postgresql://root:root@localhost:5432/nyc_taxi")

In [8]:
engine.connect()

Verify schema

In [9]:
print(pd.io.sql.get_schema(df, name="table_name", con=engine))

CREATE TABLE table_name (
	vendorid BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	ratecodeid FLOAT(53),
	pulocationid BIGINT,
	dolocationid BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

Ingest into postgres database

In [10]:
df.to_sql(
    name="table_name",
    con=engine,
    if_exists="replace",
    index=False,
    chunksize=10000
)

7518