In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
from pathlib import Path
import logging

import pandas as pd
from google.cloud import storage

from nyc_taxi.config import NYCTaxiConfig
from nyc_taxi.data_pipeline import BigQueryPipeline
from nyc_taxi.utils import timing

PARENT_PATH = Path(os.getcwd()).parent.absolute()

FORMAT = "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
logging.basicConfig(format=FORMAT, level=logging.INFO)
logger = logging.getLogger(__name__)

Build config and data class for accessing data

In [3]:
config = NYCTaxiConfig()
config.CURRENT_PATH = PARENT_PATH

data = BigQueryPipeline(config)

Load sample parquet file

In [5]:
df = pd.read_parquet(os.path.join(data.data_path, "green_tripdata_2021-01.parquet"))
df.head()

   VendorID lpep_pickup_datetime  ... trip_type congestion_surcharge
0         2  2021-01-01 00:15:56  ...       1.0                 0.00
1         2  2021-01-01 00:25:59  ...       1.0                 2.75
2         2  2021-01-01 00:45:57  ...       1.0                 0.00
3         2  2020-12-31 23:57:51  ...       1.0                 0.00
4         2  2021-01-01 00:16:36  ...       1.0                 0.00

[5 rows x 20 columns]

In [6]:
num_rows, num_columns = df.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 76518
Number of columns: 20

Connect to google cloud storage and access bucket

In [7]:
client = storage.Client()
# This is not a real bucket
bucket = client.get_bucket('bucket_name_project_id')

Save to bucket as parquet file

In [9]:
bucket \
    .blob("green_tripdata_2021-01.parquet") \
    .upload_from_string(df.to_parquet(index=False), 'parquet')

Read the saved file from bucket

In [13]:
df2 = pd.read_parquet(f'gs://{bucket.name}/green_tripdata_2021-01.parquet')
df2.head()

   VendorID lpep_pickup_datetime  ... trip_type congestion_surcharge
0         2  2021-01-01 00:15:56  ...       1.0                 0.00
1         2  2021-01-01 00:25:59  ...       1.0                 2.75
2         2  2021-01-01 00:45:57  ...       1.0                 0.00
3         2  2020-12-31 23:57:51  ...       1.0                 0.00
4         2  2021-01-01 00:16:36  ...       1.0                 0.00

[5 rows x 20 columns]

In [14]:
num_rows2, num_columns2 = df2.shape
print(f"Number of rows: {num_rows2}")
print(f"Number of columns: {num_columns2}")

Number of rows: 76518
Number of columns: 20

Lower column names

In [15]:
df2.columns = [c.lower() for c in df2.columns]
df2.head()

   vendorid lpep_pickup_datetime  ... trip_type congestion_surcharge
0         2  2021-01-01 00:15:56  ...       1.0                 0.00
1         2  2021-01-01 00:25:59  ...       1.0                 2.75
2         2  2021-01-01 00:45:57  ...       1.0                 0.00
3         2  2020-12-31 23:57:51  ...       1.0                 0.00
4         2  2021-01-01 00:16:36  ...       1.0                 0.00

[5 rows x 20 columns]

Ingest into bigquery database

In [17]:
# This is not an actual project_id
df.to_gbq(
    destination_table="staging.raw",
    project_id="project_id",
    if_exists="replace"
)

76518 out of 76518 rows loaded.?it/s]2023-01-15 12:54:59,461 - pandas_gbq.gbq - INFO -
100%|██████████| 1/1 [00:00<00:00, 1794.74it/s]